<h5>Por Mês</h5>
<mat-action-list>
  <mat-list-item
    class="teste"
    *ngFor="let lancamento of consolidado"
    (click)="geraDetalhamento(lancamento.idMes)"
  >
    {{ lancamento.mes }} :
    {{ lancamento.valor | currency: "BRL":true }}
  </mat-list-item>
</mat-action-list>
<div *ngIf="showTable">
  <h5>Detalhamento: {{ mesDetalhado }}</h5>

  <table mat-table [dataSource]="lancamentoDetalhado" class="mat-elevation-z8">
    <ng-container matColumnDef="origem">
      <th mat-header-cell *matHeaderCellDef>Origem</th>
      <td mat-cell *matCellDef="let element">{{ element.origem }}</td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let element">{{ element.categoria }}</td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let element">
        {{ element.valor | currency: "BRL":true }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<router-outlet></router-outlet>
